@model IEnumerable<BL.Models.GroupDto>



<table id="tblLogs" class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.TagName)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var log in Model)
		{
			<tr>
				<td>@log.Id</td>
				<td>@log.Name</td>
				<td>@log.TagName</td>
				
			</tr>
		}
	</tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New Group</a>